
<div class="row mb-3">
  <div class="col-md-4 offset-md-4">
      <h1 class="center mb-5">Listing of all Articles</h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-2 offset-md-5">
    <%= will_paginate %>
  </div>
</div>

<%= render 'articles', obj: @articles %>

<div class="row">
  <div class="col-md-2 offset-md-5">
    <%= will_paginate %>
  </div>
</div>
