
<h1 class="center mb-5">Listing of all Articles</h1>

<%= will_paginate list_classes: ['pagination', 'justify-content-center'] %>

<%= render 'articles', obj: @articles %>

<%= will_paginate list_classes: ['pagination', 'justify-content-center'] %>
