<h1>Here is your article</h1>

<h3>Title:</h3>
<p>
  <%= @article.title %>
</p>
<h3>Description:</h3>
<p>
  <%= @article.description %>
</p>
<div class="hl">
</div>

<p>
  <%= link_to 'edit article', edit_article_path %> |
  <%= link_to 'back to article list', articles_path %>
</p>
