<head>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<html>
<body>
  <div class="container-fluid">
    <div class="row">
        <div class="col-8 col-md">
            <p>
              Hey there! I am programmer totally new in this kind of buisness who trying
              to step further into the direction of an web and mobile developer. This linked
              webpage is the first step into this direction and I hope that you will like my
              work while it will constantly involve. Actually I was a data scientist but that
              nowadays situations of non scientific papers which often are simple heuristic
              make me change the path to are more consistent way. I worked on serveral project
              for the automobile industry creating simple apps to simplify the simulation processes.
              As an example I build up a system which can estimate pysical impact of changing design
              in an airbag at the interessting point on a human dummy. Futher more I build up system
              which can automatically recognice materials an splitt them appart by segmenting the image.
              All this work was done in python requiring many different maschine learning frameworks.
              To name a few of them Pytorch, Keras, Tensorflow, Sklearn. My personal favourit is acually
              pytorch cause of its image dynamic structure which makes prototyping for newer and more complex
              algorithms more easy instead a fixed graph architecture like tensorflow.
            </p>
        </div>
        <div class="col-md-auto side-image">
          <i class="fas fa-user"></i>
        </div>
    </div>
    <div class="row">
      <div class="col jumbotron">
          <h1> You can find me on github </h1>
          <a href='https://github.com/zumbam' class= "btn btn-large btn-dark-red-bordered">Github</a>
      </div>
    </div>
  </div>
</body>
</html>
