<head>
<%= stylesheet_link_tag "home.css" %>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<html>
<body>
  <div class="header">
    <div class="tool-bar">
      <div>
        <h1> About</h1>
      </div>
      <div>
        <i class="fas fa-sign-in-alt"></i>
      </div>
    </div>

  </div>
  <div class="profile">
    <div class="about-context">
        <p>
          Hey there! I am programmer totally new in this kind of buisness who trying
          to step further into the direction of an web and mobile developer. This linked
          webpage is the first step into this direction and I hope that you will like my
          work while it will constantly involve. Actually I was a data scientist but that
          nowadays situations of non scientific papers which often are simple heuristic
          make me change the path to are more consistent way. I worked on serveral project
          for the automobile industry creating simple apps to simplify the simulation processes.
          As an example I build up a system which can estimate pysical impact of changing design
          in an airbag at the interessting point on a human dummy. Futher more I build up system
          which can automatically recognice materials an splitt them appart by segmenting the image.
          All this work was done in python requiring many different maschine learning frameworks.
          To name a few of them Pytorch, Keras, Tensorflow, Sklearn. My personal favourit is acually
          pytorch cause of its image dynamic structure which makes prototyping for newer and more complex
          algorithms more easy instead a fixed graph architecture like tensorflow.
        </p>
    </div>
    <div class="side-image">
      <i class="fas fa-user"></i>
    </div>
  </div>

  <div class="hl">

  </div>
  <div class="footer">
    <div>
      <%= link_to 'home', root_path %><br>
      <a href='https://github.com/zumbam'>github</a>
    </div>

  </div>
</body>
</html>
