<html>
<head>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div class="row mb-3">
  <div class="col-md">
    <div class="header">
    </div>
  <div>
</div>

<div class="row">
  <div class="col-md">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> -->
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
    			<div class="jumbotron project-item">
            <h1 class="display-4">Alpha Blog</h1>
    				<%= link_to 'Sign up now', signup_path, class: "btn btn-lg btn-dark-red-bordered" %>
          </div>
    		</div>
        <div class="carousel-item">
          <div class="jumbotron project-item">
            <h1 class="display-4">Stock Tracker</h1>
            <a href="#" class="btn btn-lg btn-dark-red-bordered">Sign up now</a>
          </div>
        </div>
      </div>


      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
	<div class="row">
		<div class="col-md content-column" >
			<h1> Alpha Blog </h1>
				<p>
					<%# <%= link_to 'Alpha Blog', articles_path %> is a simple application where u can save articles into a database. %>
				</p>
		</div >
		<div class="col-md content-column">
			<p>
				Another Paragraph for check how nice I can introduce flex-boxes to create a 3 column view which also good looking.
			</p>
		</div>
		<div class="col-md content-column">
			<p>
				To make them 3 I add some more text here, because three column divided site look so damn awesome.
			</p>
		</div>
	</div>
</div> -->



</body>
</html>
