@import 'bootstrap/dist/css/bootstrap';
@import "variable";

// basic style definitions
a {
  text-decoration: none;
  color: $main-color;
  font-weight: bold;
  // font-style: italic;
}

// additional style modifications

.bg-dark-red {
	background-color: $main-tool-bar-color;
}

.side-image {
  font-size: 10em;
}

// components
.jumbotron {
  font-weight: bold;
  text-transform: uppercase;
  color: $second-color;
  background-color: $second-bg-color;
  text-align: center;
}

.btn-dark-red-bordered{
  background-color: $main-tool-bar-color;
  border-width: medium;
  border-color: $main-tool-bar-color;
  color: $main-color;
}

.btn-dark-red-bordered:hover{
    color: $main-color;
    background-color: $main-hightlight-color;
    border-color: $main-color;
}

.header {
	background-image: url('https://www.zweitag.de/assets/images/landing-pages/header-rubyonrails-af837f8d.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 10em;
}

.nav-item{
  color: $main-color;
}

.project-item {
	color: $second-color;
  background-color: $second-bg-color;
}

.project-image {
  background-image: asset-url('Mockup-Alpha-Blog.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: soft-light;
}

.copyright-line {
  color: $main-color;
  text-align: right;
}

.footer{
  border-top: 1px solid $main-tool-bar-color;
  background: $main-bg-color;
}

.card-description{
  color: $main-color;
  background-color: $second-bg-color;
}

.center{
  text-align: center;
}

.article{
  background: $second-bg-color;
}

.article-header{
  background: $main-tool-bar-color;
}

.article-body{
  background: $card-bg-color
}

.article-meta-details {
  border-top: 1px solid $main-tool-bar-color;
  margin-top: 15px;
}

.card-user{
  background: $second-bg-color;
}

.card-user-header{
  background: $main-tool-bar-color;
}

.card-user-body{
  background: $card-bg-color
}


.listing{
  list-style: none;
  padding-left: 0;
}
