@import 'bootstrap/dist/css/bootstrap';
@import "variable";

a {
  text-decoration: none;
  color: $main-color;
  font-weight: bold;
  // font-style: italic;
}

.side-image {
  font-size: 10em;
}


.jumbotron {
  font-weight: bold;
  text-transform: uppercase;
  color: $main-color;
  background-color: $main-bg-color;
  text-align: center;

}
.header {
	background-image: url('https://www.zweitag.de/assets/images/landing-pages/header-rubyonrails-af837f8d.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 10em;
}

.bg-dark-red {
	background-color: $main-tool-bar-color;
}

.btn-dark-red-bordered{
  background-color: $main-tool-bar-color;
  border-width: medium;
  border-color: $main-tool-bar-color;
  color: $main-color;
}

.btn-dark-red-bordered:hover{
    color: $main-color;
    background-color: $main-hightlight-color;
    border-color: $main-color;
}

.nav-item{
  color: $main-color;
}

.project-item {
	color: $main-color;
  background-color: $main-bg-color;
  background: $main-bg-color;
}

.project-image {
  background-image: asset-url('Mockup-Alpha-Blog.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: soft-light;
}

.copyright-line {
  color: $main-color;
  text-align: right;
}

.footer{
  border-top: 1px solid $main-tool-bar-color;
  background: $main-bg-color;
}
