@import "variable";

body {
  background-color: $main-bg-color;
  color: $main-color;
}


table, td, th {
  border: solid;
  border-color: $main-color;
}

table{
  border-collapse: collapse;
  width: 100%;
}

td {
  height:50px;
}
