@import "variable";

/*


.tool-bar {
	display: flex;
  justify-content: space-between;
  align-items: center;

}

.tool-bar div{
    margin: 0px 20px;
}


.tool-bar i:hover{
	background: var(--main-tool-bar-color);
	color: #F0FFFF;
}

.header {

	background-image: url('https://www.zweitag.de/assets/images/landing-pages/header-rubyonrails-af837f8d.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 240px;

}


.nav-bar {
	display: flex;
	flex-flow: row wrap;
	background: var(--main-tool-bar-color);

}
.nav-bar-item {
	padding: 5px 20px;

}

.nav-bar-item a{
	padding: 0px 20px;
	color: var(--main-color);
	text-decoration: none;
}

.nav-bar-item:hover {
	background: var(--main-bg-color);
}

.content-column {
	height: 380px;
	display: flex;
	flex-flow: row wrap;
	background: var(--main-bg-color);
	color: var(--main-color);
}

.content-column div {
  flex: 33.3%;
}


.content-column div:hover {
	background: var(--main-hightlight-color);
	color: var(--main-color);

}

.main-content {
  height: 380px;
	display: flex;
	flex-direction: row;
	background: var(--main-bg-color);
	color: var(--main-color);
	padding: 20 20;
	text-align: center;
}

.footer {
	background: var(--main-bg-color);
	display: flex;
	justify-content: space-between;
}

.footer div {
	padding: 8px;

}

.profile{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 380px;
}

.side-image{
  flex: 30%;

  text-align: center;
}

.side-image i {
  font-size: 280px;
}

.about-context{
  flex: 70%;

}

.hl{
  border-bottom: 3px solid var(--main-tool-bar-color);
} */

.content-column {
	background: $main-bg-color;
	color: $main-color;
}

.content-column:hover {
	background: $main-hightlight-color;
	color: $main-color;
}
