// backgrounds
$main-bg-color:  #990000;
$second-bg-color: #bc0000;

// font colors
$main-color: #F0FFFF;
$second-color: #F0FFFF;

//card colors
$card-header-color: #8B0000;
$card-body-color: #bc0000;
$card-bg-color: #bc0000;


// toolbar color
$main-tool-bar-color: #8B0000;

// button color
$main-button-color:#8B0000;

// highlighting color
$main-hightlight-color: #bc0000;
